.populares {
    padding: 3rem 0;
}

.populares__cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: #c9c9c9 1px solid;
}

.populares__titulo {
    font-weight: 500;
}

.populares__icone {
    margin-right: .25rem;
}

.populares__botao{
    border: none;
    background: transparent;
    color: #333;
}

.populares__botao:hover{
    color: #ffc400;
    transition: .3s ease-in-out;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
}

.populares__card:last-child{
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-cabecalho"
        "card-conteudo";
    grid-auto-flow: 50px auto;
    padding: .75rem;
}

.populares__card___titulo{
    font-size: 1.5rem;
    font-weight: 900;
    color: #333;
}

.populares__card___data{
    font-size: .9rem;
    color: #808080;
}

.populares__card___descricao{
    color: #333;
    text-align: justify;
    line-height: 1.5rem;
    margin: 1rem 0;
}